#root {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: #a5000000;
}

.app {
  padding: 0 !important;
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}