@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  width: 100%;
  font-size: clamp(.8rem, 2vw, 1rem);
}

.app {
  padding: 0;
  display: grid;
  grid-template-areas:
    "fixed"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100%;
  height: 100vh;
  width: 100% !important;
}

.fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.promo {
  grid-area: promo;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background-color: rgb(255, 247, 10);
  color: red;
  text-align: center;
  padding: 0 !important;
  margin: 0;
  height: 2rem;
}

.nav {
  padding-top: 0.5rem;
  grid-area: nav;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
  background: rgb(35, 0, 90);
}

.transparent {
  background: rgba(48, 0, 115, 0.727);
  height: 3rem;
}

.menu, .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navLogo {
  position: relative;
  width: auto;
  height: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg) scale(1.2);
  filter: drop-shadow(0px 0px 5px #7b00ff);
}

.navLogo:hover {
  transform: scale(1.3);
}

.navLink {
  color: #ffffff;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}

.navLink:hover {
  color: #ecb23e;
  text-shadow: 2px 1px 3px #000000;
  transform: scale(1.2);
}

.total {
  font-size: 1.1rem !important;
  padding: 0.5rem 0.7rem;
  background: linear-gradient(#ffffff, #bbbbbb);
  color: #9800c2;
  font-weight: 700;
}

.perfil {
  display: flex;
  gap: 0.3rem;
  padding: 0.5rem;
  background-color: #620192;
  color: wheat;
}

.buttonImg {
  background-image: url("./images/perfil.png");
  background-position: center;
  background-size: 150% 150%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 2px #e76902;
}

.account {
  color: wheat;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all 0.1s ease-in-out;
}

.account:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 2px #000000;
}

.button {
  border-radius: 0.5rem;
  border: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  font-size: clamp(.8rem, 2vw, 1rem);
}

.button:hover {
  transform: scale(1.1);
}

.main {
  grid-area: main;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  background: radial-gradient(#58003b, #58003b, #000000);
  padding-top: 7rem !important;
}

.home {
  width: 100%;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem !important;
  color: rgb(229, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: subeYBajar 10s infinite alternate ease-in-out;
  text-align: center;
  padding: .5rem;
}

.itemHeader {
  width: 8rem;
  height: auto;
}

.p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.p1 h1, .p1 p {
  text-shadow: 3px 3px 3px #7b00ff !important;
  filter: drop-shadow(0px 0px 10px #10ee00);
}

.p1 h1 {
  font-size: clamp(1.3rem, 3vw, 2.5rem);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 7s forwards infinite;
  padding: 0;
  margin: 0;
}

.p1 p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 7s forwards infinite;
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 6s, transform 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes subeYBajar {
  0% {
    background-position: center 0%;
  }
  50% {
    background-position: center 20%;
  }
  100% {
    background-position: center 40%;
  }
}

.containerPizza {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pizzas {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  grid-gap: 2rem;
  padding: 1rem;
  
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  height: fit-content;
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  padding: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);

}

.cardBody:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8);
}

.cardTitle {
  font-weight: bold;
  margin-top: 2rem;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  margin: auto;
  font-size: clamp(2rem, 2vw, 1rem);

}

.zombie {
  position: relative;
  height: 12rem;
  width: 12rem;
  top: 0rem;
  left: 15rem;
  filter: drop-shadow(1px 3px 2px rgb(0, 0, 0));
}

.cardImg {
  width: 90%;
  object-fit: cover;
  margin: auto;
  padding: 1rem;
  padding-top: 1.4rem;
  border-radius: 1.8rem;
}

.cardWindows {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #4b0778;
  border-radius: 1.8rem;
  margin-bottom: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  gap: 1rem;
}

.cardSubTitle {
  color: #ffffff;
  padding: 0 1rem;
  margin: auto;
}

.cardPrice {
  color: #ff9d00;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  box-shadow: 0px 0px 3px 5px rgba(10, 217, 10, 0.3);
  border: 2px solid #05b024;
  border-radius: 3rem;
  font-weight: bold;
  text-shadow: 3px 1px 1px #2a0d86;
  margin: auto;
  font-size: 2.4rem;
}

.cardText {
  color: #ffffff;
  text-align: justify;
  padding: 0 1.5rem;
  font-size: clamp(.7rem, 2vw, 1rem);

}

.add {
  width: 9rem;
  height: 3rem;
  border: none;
  background-color: #ff008c;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 1px 1px 3px #000000;
}

.add:hover {
  background-color: #ff0066;
  transform: scale(1.1);
}

.mas {
  width: 9rem;
  margin-bottom: 0.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #6136ef;
  color: #ffffff;
}

.youtube {
  position: relative;
  width: 50px;
  margin-right: 5px;
}

.youtube:hover {
  animation: rotation 1s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 🔥 Responsividad */
@media (max-width: 768px) {

  .cardBody {
    height: 35rem;
  }

  .zombie {
    height: 10rem;
    width: 10rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  background-color: #797979;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #000000;
}

.footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  padding: .2rem;
  z-index: 1000;
}

.footer a {
  color: #f7a72e;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.footer a:hover {
  color: #f72f14;
}

.footer > p {
  margin: 0;
  padding: 0.5rem;
}

@media (max-width: 1024px) {
  .promo {
    padding: 0 !important;
  }

  .nav {
    flex-direction: column;
    height: fit-content;
    width: auto !important;
    padding: 0.5rem;
  }

  .menu > .button, .info {
    padding: 1rem .5rem !important;
  }

  .navLogo {
    height: 4rem !important;
  }

  .main {
    padding-top: 17rem !important;
    width: auto;
  }
}

@media (max-width: 768px) {
  .navLogo {
    margin: .5rem 0;
    height: 4rem !important;
    top: auto;
  }

  .promo {
    height: fit-content;
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 19rem !important;
  }

  .fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: auto;
    transform: translateZ(0);
  }

  .info {
    display: none;
  }

  .promo {
    width: auto;
  }

  .menu {
    gap: 1rem;
  }
}
